@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?24176906');
  src: url('../font/fontello.eot?24176906#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?24176906') format('woff2'),
       url('../font/fontello.woff?24176906') format('woff'),
       url('../font/fontello.ttf?24176906') format('truetype'),
       url('../font/fontello.svg?24176906#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?24176906#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-star-half:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-users:before { content: '\e807'; } /* '' */
.icon-video:before { content: '\e808'; } /* '' */
.icon-videocam:before { content: '\e809'; } /* '' */
.icon-picture:before { content: '\e80a'; } /* '' */
.icon-camera:before { content: '\e80b'; } /* '' */
.icon-camera-alt:before { content: '\e80c'; } /* '' */
.icon-th-large:before { content: '\e80d'; } /* '' */
.icon-th:before { content: '\e80e'; } /* '' */
.icon-th-list:before { content: '\e80f'; } /* '' */
.icon-ok:before { content: '\e810'; } /* '' */
.icon-ok-circled:before { content: '\e811'; } /* '' */
.icon-ok-circled2:before { content: '\e812'; } /* '' */
.icon-cancel:before { content: '\e813'; } /* '' */
.icon-cancel-circled:before { content: '\e814'; } /* '' */
.icon-cancel-circled2:before { content: '\e815'; } /* '' */
.icon-plus:before { content: '\e816'; } /* '' */
.icon-plus-circled:before { content: '\e817'; } /* '' */
.icon-minus:before { content: '\e818'; } /* '' */
.icon-minus-circled:before { content: '\e819'; } /* '' */
.icon-help-circled:before { content: '\e81a'; } /* '' */
.icon-info-circled:before { content: '\e81b'; } /* '' */
.icon-forward:before { content: '\e82c'; } /* '' */
.icon-export:before { content: '\e82d'; } /* '' */
.icon-pencil:before { content: '\e82e'; } /* '' */
.icon-edit:before { content: '\e82f'; } /* '' */
.icon-print:before { content: '\e830'; } /* '' */
.icon-retweet:before { content: '\e831'; } /* '' */
.icon-comment:before { content: '\e832'; } /* '' */
.icon-chat:before { content: '\e833'; } /* '' */
.icon-bell:before { content: '\e834'; } /* '' */
.icon-attention:before { content: '\e835'; } /* '' */
.icon-attention-circled:before { content: '\e836'; } /* '' */
.icon-location:before { content: '\e837'; } /* '' */
.icon-trash-empty:before { content: '\e838'; } /* '' */
.icon-doc:before { content: '\e839'; } /* '' */
.icon-folder:before { content: '\e83a'; } /* '' */
.icon-folder-open:before { content: '\e83b'; } /* '' */
.icon-down-big:before { content: '\e858'; } /* '' */
.icon-left-big:before { content: '\e859'; } /* '' */
.icon-right-big:before { content: '\e85a'; } /* '' */
.icon-up-big:before { content: '\e85b'; } /* '' */
.icon-cw:before { content: '\e85c'; } /* '' */
.icon-ccw:before { content: '\e85d'; } /* '' */
.icon-arrows-cw:before { content: '\e85e'; } /* '' */
.icon-shuffle:before { content: '\e85f'; } /* '' */
.icon-play:before { content: '\e860'; } /* '' */
.icon-play-circled2:before { content: '\e861'; } /* '' */
.icon-stop:before { content: '\e862'; } /* '' */
.icon-pause:before { content: '\e863'; } /* '' */
.icon-to-end:before { content: '\e864'; } /* '' */
.icon-to-end-alt:before { content: '\e865'; } /* '' */
.icon-to-start:before { content: '\e866'; } /* '' */
.icon-to-start-alt:before { content: '\e867'; } /* '' */
.icon-fast-fw:before { content: '\e868'; } /* '' */
.icon-fast-bw:before { content: '\e869'; } /* '' */
.icon-eject:before { content: '\e86a'; } /* '' */
.icon-truck:before { content: '\e88e'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-level-up:before { content: '\f148'; } /* '' */
.icon-level-down:before { content: '\f149'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-expand:before { content: '\f150'; } /* '' */
.icon-collapse:before { content: '\f151'; } /* '' */
.icon-expand-right:before { content: '\f152'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-collapse-left:before { content: '\f191'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-lifebuoy:before { content: '\f1cd'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-audio-description:before { content: '\f29e'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.icon-braille:before { content: '\f2a1'; } /* '' */
.icon-assistive-listening-systems:before { content: '\f2a2'; } /* '' */
.icon-american-sign-language-interpreting:before { content: '\f2a3'; } /* '' */
.icon-asl-interpreting:before { content: '\f2a4'; } /* '' */
.icon-glide:before { content: '\f2a5'; } /* '' */
.icon-glide-g:before { content: '\f2a6'; } /* '' */
.icon-sign-language:before { content: '\f2a7'; } /* '' */
.icon-low-vision:before { content: '\f2a8'; } /* '' */
.icon-viadeo:before { content: '\f2a9'; } /* '' */
